@model MVCWebSite.ViewModels.BuildingViewModel

@{
    ViewBag.Title = "SaveBuildingInfo";
}

<h2>Enter New Building Information</h2>



<div>
    <h4>Building Information saved Successfully!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingPhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingPhoneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumFloors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumFloors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumConfRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumConfRoom)
        </dd>

    </dl>
</div>
